.btn-haskell {
	color: #d1cddc;
	background-color: #6E618D;
	border-color: #333;
  margin: 0 0px;
}

.btn-haskell.active, .btn-haskell.focus, .btn-haskell:active, .btn-haskell:focus,
.btn-haskell:hover,.open > .dropdown-toggle.btn-haskell {
	color: #fff;
	border-color: #204d74;
}

.discussion {
    padding-bottom: 50px;
}

/*
 * Style modifications for user platform identification
 */
/* Show only when we can't identify user's platform */
.user-platform-known .unknown-user-platform {display: none;}
/* When we can find the user's platform, tell them what we found */
.found-user-platform {display: none;}
.user-platform-known .found-user-platform {display: block;}
/* Show "All Platforms" header only when we know the user's platform */
.other-platforms {display: none;}
.user-platform-known .other-platforms {display: block;}

.other-platforms {
    padding-top: 100px;
}

/*
 * Download button styling
 */
.download-btn {
    text-align: center;
    margin-right: 80px; /* compensate for offset due to .step-number */
}

.download-btn a {
    margin: 10px 10px;
    padding: 10px 50px;
    font-size: large;
}

.preferred-platform .download-btn a {
    background-color: #524A67;
    transition: background-color 600ms;
}
.preferred-platform .download-btn a:hover {
    background-color: #6E618D;
}

/*
 * Download platform block styling
 */
.downloads-platform {
    padding-top: 50px;
    width: 500px;
    margin: auto;
}

.downloads-platform .content {
    overflow: hidden;
    height: 0px;
    transition: height 600ms;
}

.downloads-platform.visible .content {
    transition: height 600ms;
    height: auto;
}

.downloads-platform.visible .expander {
    display: none;
}

.platform-name {
    text-align: center;
    padding-bottom: 10px;
}

.platform-name h2 {
    display: block;
    margin: auto;
}

.platform-name img {
    max-width: 40px;
    max-height: 30px;
    display: block;
    margin: auto;
}

.download-hash {

}

.install-steps {
    padding-left: 0;
}

.install-steps li {
    padding-top: 20px;
    padding-bottom: 40px;
    list-style: none;
}

.install-steps .step-number {
    float: left;
    font-size: xx-large;
    background: none repeat scroll 0% 0% #7E788C;
    border-radius: 100px;
    color: #fff;
    text-align: center;
    margin-right: 30px;
    width: 50px;
    /* nudge the text closer to the center */
    padding-bottom: 2px;
}

.install-steps .step-body {
    padding-left: 80px; /* this should be the sum of the width and margin-right of the .step-number */
}

/*
 * expanding expander arrow
 */
.expander div {
    position: relative;
    height: 50px;
    width: 40px;
    margin: 10px auto;
    display: block;
}

.expander img {
    position: absolute;
    width: 40px;
    display: block;
    transition: all 400ms ease;
}

.expander img.expand-2 {top: 8px;}
.expander img.expand-3 {top: 16px;}
.expander:hover img.expand-2 {transform: translateY(5px);}
.expander:hover img.expand-3 {transform: translateY(10px);}
