.btn-haskell {
	color: #d1cddc;
	background-color: #352F44;
	border-color: #333;
  margin: 0 0px;
}

.btn-haskell.active,.btn-haskell.focus,.btn-haskell:active,.btn-haskell:focus,.btn-haskell:hover,.open>.dropdown-toggle.btn-haskell{
	color: #fff;
	border-color: #204d74;
}

/*
 * Home page
 */
.page-home .download-btn {
    width: 30%;
    margin: 30px auto;
}

.page-home .download-btn a {
    padding: 30px;
}

.bundled ul li {
    list-style: none;
}