.btn-haskell {
	color: #d1cddc;
	background-color: #352F44;
	border-color: #333;
  margin: 0 0px;
}

.btn-haskell.active, .btn-haskell.focus, .btn-haskell:active, .btn-haskell:focus,
.btn-haskell:hover,.open > .dropdown-toggle.btn-haskell {
	color: #fff;
	border-color: #204d74;
}

/*
 * Home page
 */
.page-home .download-btn {
    width: 30%;
    margin: 30px auto;
}

.page-home .download-btn a {
    padding: 30px;
}

.bundled ul li {
    list-style: none;
}

/*
 * Download
 */
.download-btn {
    text-align: center;
}

.preferred-platform .download-btn a {
    background-color: #524A67;
}

.download-btn a {
    margin: 10px 10px;
    min-width: 30%;
}

.downloads-platform {
    padding-bottom: 50px;
}

.downloads-platform .content {
    overflow: hidden;
    height: 0px;
    transition: height 600ms;
}

.downloads-platform.visible .content {
    transition: height 600ms;
    height: auto;
}

.downloads-platform.visible .expander {
    display: none;
}

.platform-name {
    text-align: center;
}

.platform-name h2 {
    display: block;
    margin: auto;
}

.platform-name img {
    max-width: 40px;
    max-height: 30px;
    display: block;
    margin: auto;
}

.expander {
    position: relative;
    height: 50px;
    width: 50px;
    margin: auto;
}

.expander img {
    position: absolute;
    width: 50px;
    display: block;
    transition: all 400ms ease;
}

.expander img.expand-2 {top: 8px;}
.expander img.expand-3 {top: 16px;}
.expander:hover img.expand-2 {transform: translateY(5px);}
.expander:hover img.expand-3 {transform: translateY(10px);}